# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png

# Android related
android/
*.iml

# iOS related
ios/
*.xcuserstate
*.xcworkspace

# Web related
web/.dart_tool/
web/build/

# macOS related
macos/

# Windows related
windows/

# Linux related
linux/

# VS Code settings
.vscode/

# IntelliJ related
.idea/
*.iml

# Misc
*.log
*.lock
*.tmp
*.swp
*.DS_Store
*.sublime-workspace
*.sublime-project